<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="index.html"></a>
        <img src="/assets/logorougeparrot.png" width="100" height="100" alt="logoparrot">
    
    <!-- Bouton de bascule pour les petits écrans -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Onglets de la barre de navigation -->
    <div class="collapse navbar-collapse navbar" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item navbar">
                <a class="nav-link " href="">Nos services <span class="sr-only"></span></a>
            </li>

            <li class="nav-item navbar">
                <a class="nav-link" href="#">Nos véhicules</a>
            </li>

            <li class="nav-item navbar">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>