
.title-contact {
    margin-top: 100px;
    margin-bottom: 50px;
    color: whitesmoke;
    text-align: center;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
}

.form-group {
    color: whitesmoke;
    padding: 5px 100px 5px 100px;
}

.send {
    color: whitesmoke;
    border: 1px solid white;
    margin-bottom: 50px;
}

.send:hover {
    color: #D92332;
    border: 1px solid #D92332;
}



